Options All -Indexes 


<FilesMatch “\.(php|php\.)$”>
	Order Allow,Deny
	Deny from all
</FilesMatch>

<Files .htaccess>
	order allow,deny
	deny from all
</Files>
 


Redirect http://localhost/Github/stream.id/